{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row text-center pt-3">
        <div class="col-4 offset-md-4">
            <div class="card gfg border rounded-pill border-dark">
                <div class="card-body">
                    <h3>Вход</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center pt-3">
        <div class="col-8 offset-md-2">
            <div class="row g-3">
                <div class="col-8 offset-md-2">
                    <div class="form-group" style="">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary">Войти</button>
                        </form>
                    </div>
                    <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
                </div>
                <a href="{% url 'social:begin' 'github' %}"><img src="{% static 'social_network/images/github.png' %}"
                                                                 class="bd-placeholder-img rounded-circle"
                                                                 height="50" width="50"></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}