{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-dark mt-5">
                <a href="{% url 'home' %}"><h5>На главную</h5></a>
                <h1 class="card-title text-center">Сброс пароля</h1>
                <div class="card-body text-dark">
                    <p class="card-text text-center">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                    <p class="card-text text-center">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}