{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-dark mt-5">
                <h1 class="card-title text-center">Пароль изменен</h1>
                <div class="card-body">
                    <p class="card-text text-center">
                        Поздравляем, вы успешно изменили пароль! Используйте его для
                        <a href="{% url 'users:login' %}">входа в систему</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}


