{% extends 'base.html' %}
{% load static %}


{% block avatar %}
{% include 'avatar_base.html' %}
{% endblock %}


{% block content %}


<div class="container">
    <div class="row text-center pt-3">
        <div class="col-4 offset-md-4">
            <div class="border border-primary-subtle border-2">
                <div class="card-body">
                    <h4>Мой профиль</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="col-6 offset-md-3 border border-primary-subtle border-2">
        <div class="row g-3 text-center">
            <div class="col-6">
                <img src="{{ user_object.photo.url }}" class="bd-placeholder-img rounded-circle mt-3" height="100"
                     width="100" alt="не грузится фото">
            </div>

            <div class="col-6 mt-5 ">
                <h6>Дата рождения:</h6>
                {% if user_object.date_birth %}
                <div class="tweet-content p-3 bg-light border rounded">
                    {{ user_object.date_birth|date:"d.m.Y" }}
                </div>
                {% else %}
                <div class="tweet-content bg-light border rounded">
                    <p> - </p>
                </div>
                {% endif %}
            </div>
            <div class="col-6">
                <h6>Username:</h6>
                {% if user_object.username %}
                <div class="tweet-content bg-light border rounded">
                    {{ user_object.username }}
                </div>
                {% else %}
                <div class="tweet-content bg-light border rounded">
                    <p> - </p>
                </div>
                {% endif %}
            </div>

            <div class="col-6">
                <h6>Грейд:</h6>
                {% if user_object.grade %}
                <div class="tweet-content bg-light border rounded">
                    {{ user_object.grade }}
                </div>
                {% else %}
                <div class="tweet-content bg-light border rounded">
                    <p> - </p>
                </div>
                {% endif %}
            </div>
            <div class="col-6">
                <h6>Имя:</h6>
                <div class="tweet-content bg-light border rounded">
                    {{ user_object.first_name }}
                </div>
            </div>
            <div class="col-6">
                <h6>Фамилия:</h6>
                <div class="tweet-content bg-light border rounded">
                    {{ user_object.last_name }}
                </div>
            </div>
            <div class="col-12">
                <h6>Обо мне:</h6>

                {% if user_object.about_me %}
                <div class="tweet-content bg-light border rounded">
                    <p>{{ user_object.about_me }}</p>
                </div>
                {% else %}
                <div class="tweet-content bg-light border rounded">
                    <p> - </p>
                </div>
                {% endif %}
            </div>
            <div class="col-6">
                <h6>Email:</h6>
                <div class="tweet-content bg-light border rounded">
                    <p>{{ user_object.email }}</p>
                </div>
            </div>
            <div class="col-6 text-center align-self-center">
                <a href="{% url 'users:update_profile' %}" class="btn btn-outline-primary"
                   role="button">Редактировать</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}





