{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row text-center pt-3">
        <div class="col-4 offset-md-4">
            <div class="card gfg border rounded-pill border-dark">
                <div class="card-body">
                    <h6>Редактирование профиля</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="col-6 offset-md-3 border border-primary-subtle">
        <div class="row g-3 text-center">
            <div class="form-group" style="">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-6 offset-md-3 text-center">
                        {% crispy form %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}