{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:--bs-border-opacity="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pysocial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" href="{% static 'social_network/css/styles.css'%}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/python/python.min.js"></script>

</head>
<body>

<header>
    <div class="container">
        <div class="row" style="height: 65px">
            <div class="col-1">
                <img src="{% static 'social_network/images/Python-emblem.png' %}"
                     class="mt-2" height="50" width="80" alt="не грузится лого">
            </div>
            <div class="col-3">
                <h4 class="pt-3 fs-3">Pysocial</h4>
            </div>

            {% block avatar %} {% endblock %}
        </div>
    </div>

</header>

{% block content %} {% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


